/obj/
/.idea/.idea.Better Love/.idea/.name
/.idea/.idea.Better Love/.idea/indexLayout.xml
/.idea/.idea.Topic of Love.dir/.idea/indexLayout.xml
/.idea/.idea.Better Love/.idea/projectSettingsUpdater.xml
/.idea/.idea.Topic of Identity.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Topic of Love/.idea/projectSettingsUpdater.xml
/.idea/.idea.Topic of Love.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Better Love/.idea/vcs.xml
/.idea/.idea.Topic of Love.dir/.idea/vcs.xml
